*  {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(0, 10, 69);
    color: aliceblue;
    background-image: url(../IMGs/backform.avif);
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: "Fjalla one";
}

h2 {
    font-size: 40px;
    font-family: "Fjalla One", 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
}

h2:not(h1 + h2) {
    font-size: 55px;
}

h3 {
    font-size: 20px;
    font-family: "Oswald";
}

h2, h3, p {
    text-align: center;
}

p {
    font-family: sans-serif;
}


.fjalla-one-regular {
    font-family: "Fjalla One", 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
}

.oswald-clasic {
    font-family: "Oswald", 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


@keyframes slideInFromRight {
    0% {
    opacity: 0;
    transform: translateX(100%);
}


    100% {
    opacity: 1;
    transform: translateX(0); 
}
}


header {
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    animation: slideDownFromTop 0.8s ease-out forwards;
}


.nav {
    background-color: rgba(255, 255, 255, 0.041);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(217, 215, 215, 0.26); 
    box-shadow: 0px 0px 20px black;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav__item {
    display: inline-block;
    padding: 20px 20px;
    flex: 1;
}

.nav__link {
    text-decoration: none;
    color: white; 
    font-weight: bolder;
    padding: 10px;
    margin: 20px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(12, 5, 88);
    color: rgb(223, 223, 223);
    transition: box-shadow .6s, border .3s, background-color .3s, color .3s;
    transition: border .3s, background-color .3s, color .3s;

}

.nav__link:hover {
    border: 1px solid rgba(255, 255, 255, 0.575);
    border-radius: 130px;
    background-color: rgb(12, 5, 88);
    color: rgb(223, 223, 223);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.555);
}

.nav__img {
    margin-top: 2px;
    margin-right: 20px;
    max-width: 100px;
    max-height: 70px;
    flex: 1 0 0 auto;
}

.link--back {
    margin: 20px 20px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(12, 5, 88);
    color: rgb(223, 223, 223);
    transition: box-shadow .3s, border .3s, background-color .3s, color .3s;
}

.link--back:hover {
    border: 1px solid transparent;
    border-radius: 130px;
    background-color: rgb(12, 5, 88);
    color: rgb(223, 223, 223);
    box-shadow: 0px 0px 15px black;
}

.contenedor_h1 {
    margin-top: 2rem;
    text-align: center;
}

h1 {
    font-family: monospace;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
}

.guion_parpadeo {
    color: rgba(0, 0, 0, 0.712);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0;}
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.form__fieldset {
    border: 3px solid rgba(255, 255, 255, 0.507);
    padding: 2rem;
    margin-bottom: 2.5rem;
}

label {
    font-size: 1.2rem;
}

.form__input, .form__textarea {
    margin: 0.4rem 0rem;
    padding: 0.4rem;
    width: 100%;
}

.form__input::placeholder {
    color: rgba(0, 0, 0, 0.712);
}
.form__textarea::placeholder {
    color: rgba(0, 0, 0, 0.712);
}
.form__input:focus {
    border: 3px solid rgba(0, 0, 0, 0.281);
    outline: white;
}
.form__textarea:focus {
    border: 3px solid rgba(0, 0, 0, 0.281);
    outline: white;
}

.form__textarea {
    resize: none;
    min-height: 7rem;
}

legend {
    padding: 0rem 1rem;
}

select {
    width: 80%;
}

.btn-submit {
    cursor: pointer;
    margin: auto;
    padding: 0.5rem 1.5rem;
    font-weight: bolder;
    transition: box-shadow .3s ease, transform .3s ease;
}

.btn-submit:hover {
    margin-bottom: 0;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.207);
    transition: box-shadow .3s ease, transform .3s ease;
}

.btn-submit:active {
    color: aliceblue;
}


.footer {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.641);
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.281);
}

*::placeholder {
    font-family: sans-serif;
}
